h3 {
  text-align: center;
}
table {
  background-color: white;
  margin: auto;
  width: 70%;
  border: 1px solid black;
}
tr {
  padding: 10px;
}
td, th {
  width: 20%;
  padding: 5px;
  text-align: center;
}